h1{
    position: sticky;
    top: 40px;
    z-index: 1;
}
h2{
    position: fixed;
    top: 5px;
    z-index: 1;
}
.cantainer{
    height: 4000px;
    width: 100%;
    border: 5px solid red;
    background-color: brown;
    position: relative;
}
.first{
    height: 50px;
    width: 100px;
    border: 2px solid yellowgreen;
    background-color: yellowgreen;
    position: absolute;
    top: 190px;
    left: 120px;
    z-index: 0;
}
.second{
    height: 50px;
    width: 100px;
    border: 2px solid blue;
    background-color: blue;
    position: absolute;
    top: 190px;
    left: 70px;
    z-index: 1;
}
.third{
    height: 50px;
    width: 100px;
    border: 2px solid aqua;
    position: absolute;
    background-color: aqua;
    top: 190px;
    left: 200px;
    z-index: 0;
}

@media  (max-width:1000px) {
    .first{
        background-color: rgb(0, 0, 0);
    }
}
